_3th_year/_1st_term/3i_WDIS/Project Final Term Web/Demo_Group2.mp4
_3th_year/_2nd_term/3ii_ML/Ass/Week8/best_model_cat_dog_panda_with_dropout.keras
_3th_year/_2nd_term/3ii_ML/Ass/Week8/best_model_cat_dog_panda_with_higher_dropout.keras
